@import "_main.scss";
@import "pages/_landingpage.scss";

.text-align-center {
    text-align: center;
}

.standard-font {
    font-family: 'Poppins', sans-serif;
}

.brd-radius {
    border-radius: 20px;
}